---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import logoop from "../../images/logoop.svg"
// import logoop from "/logoop.svg";
import SocialN from "../../components/SocialN.astro";
import Tool from "../../components/Tool.astro";
import Marquee from "../../components/Marquee.astro";
import Tools from "../../components/Tools.astro";
import { getLangFromUrl, useTranslations } from '../../i18n/utils'; 
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export async function getStaticPaths() {
  return [
    { params: { locale: 'en' } },
    { params: { locale: 'es' } },
  ];
}

---
<Layout title="Opentronika">
	<!-- <Circuit/> -->
	<!-- <Background/> -->
	<Header buttons={["Channel","Tools","About"]}></Header>
	<main class=" xl:h-screen relative overflow-auto snap-y xl:snap-mandatory">
		<section class=" md:h-screen grid place-content-center grid-cols-1 md:grid-cols-2 snap-center" id="home">
			<div>
				<div class="p-10">
					<img src={logoop.src} alt="logo" class="h-50 mx-auto drop-shadow-lg">
				</div>
				<article class=" text-center justify-items-center">
					<h1 class=" text-4xl m-3 font-hemi text-opentronika " >Opentronika</h1>
					<h3 class=" text-3xl text-white font-hemi m-2">{t("description")}</h3>
					
				</article>
			</div>
			<SocialN></SocialN>
		</section>
		<Tools/>
	</main>
</Layout>

<style>
	html{
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		background: #232425;
		scroll-behavior: auto;
	}
	body{
		margin: 0%;
	}
	.logoshadow{
		text-shadow: 30px;
	}
</style>

