---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import logoop from "/logoop.svg"
import Circuit from '../components/Circuit.astro';
import Carousel from '../components/Carousel.astro';
import SocialN from '../components/SocialN.astro';
import Background from '../components/Background.astro';
import Tool from '../components/Tool.astro'
import LcdEditor from '/lcdeditor.webp'
---
<Layout title="Opentronika">
	<!-- <Circuit/> -->
	<!-- <Background/> -->
	<Header buttons={["Channel","Tools","About"]}><a href="#">Hola que hace </a></Header>
	<main class=" xl:h-screen relative overflow-auto snap-y xl:snap-mandatory">
		<section class=" md:h-screen grid place-content-center grid-cols-1 md:grid-cols-2 snap-center" id="home">
			<div>
				<div class="p-10">
					<img src={logoop} alt="logo" class="h-50 mx-auto drop-shadow-lg">
				</div>
				<article class=" text-center">
					<h1 class=" text-4xl text-white m-3">Opentronika</h1>
					<h3 class=" text-3xl text-white m-2">Un sitio para aprender electronica</h3>
				</article>
			</div>
			<SocialN></SocialN>
		</section>
		<section class="grid xl:h-screen place-content-center snap-center overflow-hidden" id="tools">
			<h1 class=" text-center text-3xl text-white mx-auto">Tools</h1>
			<hr class="transition ease-in-out delay-150 m-5" >
			<article class=" flex flex-wrap place-content-center ">
				<Tool src={LcdEditor} body='Generalmente, los editores para caracteres LCD solo soportan un carácter, esta herramienta soporta múltiples caracteres con lo que podrás hacer diseños complejos directamente como si fuera una lcd real. ' title='LCD editor pro' href='https://opentronika.org/lcd-editor-pro/'> </Tool>
			</article>
		</section>		
	</main>
</Layout>

<style>
	html{
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		background: linear-gradient(91deg, #0C459B 0%, rgba(45, 50, 173, 0.86) 79.70%);
		scroll-behavior: auto;
	}
	body{
		margin: 0%;
	}
	.logoshadow{
		text-shadow: 30px;
	}
</style>

