---
import Logo from './Logo.astro';
export interface Props {
	title: string;
	body: string;
	href: string;
	src: any;
}

const { src, href, title, body } = Astro.props;
---

<li class=" m-2 flex w-80 bg-white rounded-2xl drop-shadow bg-opacity-30 hover:scale-105 duration-200 dark:bg-gray-800 dark:bg-opacity-50">
	<a href={href} class="p-5 h-full w-full  text-center flex " target="_blank">
		<img src={src} alt="logo" class=" w-1/3 ">
		<div>
			<h2 class=" text-white p-2" style="font-size: clamp(20px,2vw,50px);">
				{title}
			</h2>
			<p class="text-white text-base">
				{body}
			</p>
		</div>
		
	</a>
</li>
