---
import { languages } from '../i18n/ui';
import { getLangFromUrl } from '../i18n/utils';

const route = getLangFromUrl(Astro.url);
---

<ul>
  {Object.entries(languages).map(([lang, label]) => (
    <li>
      {/* <a href={`/${lang}/${route || ''}`}>{label}</a> */}
      <a href={Astro.url.pathname.replace(`/^\/[a-z]{2}/`, `/${lang}`)}>{label}</a>
    </li>
  ))}
</ul>