---
import { languages, defaultLang } from '../i18n/ui';
const currentLang = Astro.url.pathname.split('/')[1] || defaultLang;
---

<div class="inline-block">
  <label for="lang-select" class="sr-only">Select Language</label>
  <select
    id="lang-select"
    class="px-4 py-2 rounded-sm bg-transparent shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
    onchange="changeLang(event)"
  >
    {Object.entries(languages).map(([lang, label]) => (
      <option value={lang} selected={currentLang === lang} class="text-gray-300 bg-gray-700" >
        {label}
      </option>
    ))}
  </select>
</div>

<script is:inline>
  function changeLang(e) {
    const newLang = e.target.value;
    const path = location.pathname.replace(/^\/[a-z]{2}/, `/${newLang}`);
    window.location.pathname = path;
  }
</script>
