---
---

<div class=" w-full overflow-hidden bg-gray-50/0 py-4">
  <div class="animate-marquee whitespace-nowrap text-white text-3xl">
    <slot />
  </div>
</div>

<style>
@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-40%); }
}
.animate-marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 5s linear infinite;
}
</style>
