---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" >
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content=" Opentronika es un sitio donde econtraras lecciones y herramientas para que aprender electronica sea mas sencillo y divertido">
		<meta name="viewport" content="width=device-width" />
		<meta name="keywords" content="Electronica, Proyectos, Herramientas, Tools, arduino, lcd, esp32, online, lcd screen generator, editor de lcd online">
		<meta name="author" content="LutGaru">
		<meta name="robots" content="index, follow">
		<link rel="icon" type="image/svg+xml" href="/logoop.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="snap-mandatory">
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
